body {
    font-family: Calibri, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 800;
    line-height: 2em;
    letter-spacing: 0.15em;
    padding: 0.5em 0 0.25em 0;
}

a:hover {
    color: #797979;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

footer {
    font-size: small;
    text-align: center;
    padding: 3em;
}

div ul {
    padding: 2em;
}

nav {
    text-align: center;
}
nav ul li {
    display: inline-block;
    text-align: center;
    margin-right: 1em;
    font-size: big;
}

nav a, nav a:visited {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Class section */

.place {
    background-color: #96c8d1b0;
    color: #3d3d3d;
    border: 0px solid #eeeeeedc;
    box-shadow: 1em 1em 1em grey;
    align-self: center;
    padding: 3em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.place h2 {
    font-family:  "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 0.5em 0 0.25em 0;
    text-align: center;
}

.intro {
    padding: 4em;
}

.intro span {
    font-weight: bold;
}

.to-nav, .to-nav a:visited {
    display: block;
    text-decoration: none;
    font-size: smaller;
    color: black;
    text-align: center;
}

.to-nav:hover {
    display: block;
    text-decoration: none;
    font-size: smaller;
    color: #797979;
    text-align: center;
}

.place img {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: auto;
    width: 50%;
    max-width: 30%;
    max-height: 40%;
}

/* The "why not?" part of the website */

#banana-page {
    display: block;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:3em;
}

#banana-page:hover {
    color: #613906;
    background-color: #fffb00;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#banana-img {
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#banana-p {
    color: white;
    text-align: center;
}

#banana-page-footer {
    font-size: small;
    text-align: center;
    padding: 10em;
}