* {
    font-family: Calibri, sans-serif;
}

.place {
    background-color: #96c8d1b0;
    color: #3d3d3d;
    border: 1em solid #eeeeeedc;
    align-self: center;
    padding: 2em;
}

footer {
    font-size: small;
    text-align: center;
}

.intro {
    padding: 2em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#banana-page {
    display: block;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#banana-page:hover {
    color: #613906;
    background-color: #fffb00;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#banana-page-link p {
    padding: 5em;
    color: black
}
#banana-page-link a:hover {
    padding: 5em;
    color: black
}

#banana-page-link a:visited {
    padding: 5em;
    color: black
}

#banana-page-footer {
    font-size: small;
    text-align: center;
    padding: 10em;
}